#cont-left {
	float: left;
	width: 70%;
}

#cont-left .img-div img {
	border: thin solid #fff;
	padding: 4px;
	margin: 0 15px;
}
#cont-right {
	float: right;
	width: 27%;
}
#cont-right h4 {
	color: #ff6648;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 500;
	margin: 5px 10px;
}
#cont-right h4+h4 {
	color: #3399fe;
}
#cont-right p {
	font-size: 0.9rem;
}